$primary: hsl(222,80%,50%);
$primary-light: hsl(222,50%,95%);

$secondary: hsl(350,80%,50%);

$red: hsl(10,80%,50%);
$orange: hsl(50,80%,50%);

html, body {
  height: 100%;
  background-attachment: fixed;
  margin: 0px;
	padding: 0px;
  box-sizing: border-box;
}
.photocardContainer{
  font-family: 'MICEGothic Bold', 'Indie Flower', cursive !important;
  background-color: #D2DAFF; /*CAPE HONEY*/
	margin: 0px;
	padding: 0px;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.photocardContainer2{
  font-family: 'MICEGothic Bold', 'Indie Flower', cursive !important;
  background-color: #D2DAFF; /*CAPE HONEY*/
	margin: 0px;
	padding: 0px;
  height: 100vh;
  width: 400px;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.photocard{
  cursor: pointer;
  width: 280px;
  height: 450px;
  perspective: 1000px;
  margin: 50px auto;
  position: relative;
  // top:20%;
  // left: 50%
}

.front, .back{
  border-radius: 6px;
  background-position: center;
  background-size: cover;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: ease-in-out 600ms;
  flex-direction: column;
}

.front {
  background-size: cover;
  // background-blend-mode: overlay;
  padding: 2rem;
  font-weight: 600;
  overflow: hidden;

  p {
    font-family: Poppins, sans-serif;
    font-size: 1.618rem;
    font-weight: 600;
    color: #fff;
  }

  &:before {
    position: absolute;
    display: block;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(135deg, adjust-hue($primary, -20deg), $primary);
    opacity: .25;
    z-index: -1;
  }
  .photocard:hover & {
    transform: rotateY(180deg);
  }
  .photocard:nth-child(even):hover & {
    transform: rotateY(-180deg);
  }
}

.back {
  background: #fff;
  transform: rotateY(-180deg);
  padding: 0 2em;
  
  .photocardbutton {
    margin-top: 15px;
    background: linear-gradient(135deg, adjust-hue($primary, -20deg), $primary);
    
    &:before {
      box-shadow: 0 0 10px 10px rgba($primary, 0.25);
      background-color: rgba($primary, 0.25);
    }
  }
  
  .photocard:hover & {
    transform: rotateY(0deg);
  }
  
  .photocard:nth-child(even) & {
    transform: rotateY(180deg);
    
    .photocardbutton {
    background: linear-gradient(135deg, adjust-hue($secondary, -20deg), $secondary);
    
    &:before {
      box-shadow: 0 0 10px 10px rgba($secondary, 0.25);
    background-color: rgba($secondary, 0.25);
    }
  }
  }
  
  .photocard:nth-child(even):hover & {
    transform: rotateY(0deg);
  }
}

.photocardbutton {
  $height: 40px;
  transform: translateZ($height);
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  font-weight: bold;
  color: #fff;
  padding: .5em 1em;
  border-radius: 100px;
  font: inherit;
  border: none;
  position: relative;
  transform-style: preserve-3d;
  transition: 300ms ease;
  
  &:before {
  transition: 300ms ease;
    position: absolute;
    display: block;
    content: '';
    transform: translateZ(-$height);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    border-radius: 100px;
    left: 10px;
    top: 16px;
  }
  
  &:hover {
    transform: translateZ($height + 15px);
    
    &:before {
      transform: translateZ(-($height + 15px));
    }
  }
  
  &:active {
    transform: translateZ($height/2);
    
    &:before {
      transform: translateZ(-($height/2));
        top: 12px;
    }
  }
}
