.title {
    position: absolute;
    top: 15px;
    left: 20px;

    font-family: 'Aclonica', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 10px;
    /* identical to box height, or 42% */
    letter-spacing: 0.646609px;
    text-transform: lowercase;

    color: #000000;
}

.map {
    z-index: -1;
}

.anima {
    position: absolute;
    top: 15px;
    right: 20px;
}